/* CSS styles for the Products */

* {
    margin: 0;
    padding: 0;
  }
  
  /* Set a background color for the body */
  body {
    background-color: #f4f4f4;
    font-family: 'Belanosima', sans-serif;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 15px;
  }
  
   /*Navbar*/

   .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
  }
  
  .navbar a {
    color: hwb(0 98% 2%);
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;
  }
  
  /* Navbar menu styles */
  .navbar-menu {
    list-style: none;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 10px;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .product-item {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-item img {
    width: 100%;
    height: auto;
  }
  
  .btn {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
