/* CSS styles for the Shopping Cart website */

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Set a background color for the body */
body {
  background-color: #f4f4f4;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}

/* Navbar menu styles */
.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-right: 10px;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
}

/* Section styles */
section {
  padding: 20px;
}

/* Product container styles */
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

/* Product item styles */
.product-item {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item img {
  max-width: 100%;
  height: auto;
}

.product-item h3 {
  margin-top: 10px;
  font-size: 18px;
}

.product-item span {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

.add-to-cart-btn {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Marquee styles */
marquee {
  margin-top: 20px;
  color: red;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    margin-top: 10px;
  }

  .navbar-menu li {
    margin-right: 0;
    margin-bottom: 5px;
  }
}


/*Cart part*/

/* CSS styles for the Shopping Cart */

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color for the body */
body {
  background-color: #f4f4f4;
  font-family: 'Belanosima', sans-serif;
}

.container {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.container .col-md-2 {
  text-align: left;
  padding: 4px;
}

.container .col-md-2 i {
  margin-right: 5px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.product-item {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item img {
  width: 100%;
  height: auto;
}

.product-item h5 {
  margin-top: 10px;
  font-size: 16px;
}

.cart-price {
  font-weight: bold;
  margin-top: 5px;
}

.cart-quantity {
  margin-top: 5px;
  padding: 5px;
  width: 100px;
}

.total-price {
  font-weight: bold;
  margin-top: 5px;
}

.btn {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#close-cart {
  margin-top: 10px;
  cursor: pointer;
}

.home-link {
  margin-right: auto;
}
